streamlit
PyMuPDF==1.24.11  # For PDF processing (fitz)
pandas==2.2.2
requests==2.32.3
reportlab==4.2.5  # For PDF generation
openpyxl==3.1.5  # For Excel file processing
python-docx==1.1.2  # For DOCX file processing